Source: ros-jazzy-robotraconteur
Section: misc
Priority: optional
Maintainer: John Wason <wason@wasontech.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libbluetooth-dev, libboost-all-dev, libdbus-1-dev, libgtest-dev <!nocheck>, libssl-dev, libusb-1.0-0-dev, python3-dev, python3-numpy, python3-setuptools, zlib1g-dev, ros-jazzy-ros-workspace
Homepage: http://robotraconteur.com
Standards-Version: 3.9.2

Package: ros-jazzy-robotraconteur
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbluetooth3, libboost-atomic1.83.0, libboost-chrono1.83.0, libboost-date-time1.83.0, libboost-filesystem1.83.0, libboost-program-options1.83.0, libboost-random1.83.0, libboost-regex1.83.0, libboost-system1.83.0, libboost-thread1.83.0, libdbus-1-dev, libssl-dev, libusb-1.0-0, python3-dev, python3-numpy, python3-setuptools, zlib1g-dev, ros-jazzy-ros-workspace
Description: The robotraconteur package
